<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
        <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
        <link rel="stylesheet" href={{ url_for( 'static', filename='index.css' ) }}>
    </head>
    <body>
        <div class="container-fluid d-flex flex-column gap-3 p-5">
            <div class="d-flex">
                <a href="/logout" class="btn btn-secondary">Dashboard</a>
            </div>
            
            <h1>All Products</h1>
            <table class='container-fluid'>
                <thead>
                    <th>Id</th>
                    <th>Product</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Discount</th>
                </thead>
                <tbody>
                    <!-- This is a for loop that is iterating through the list of products and displaying them in a table. -->
                    {% for product in list_of_products: %}
                    <tr>
                        <td>{{product.id}}</td>
                        <td>{{product.name}}</td>
                        <td>{{product.category}}</td>
                        <td>{{'${:,.2f}'.format(product.price)}}</td>
                        <td>{{'{:.2%}'.format(product.discount)}}</td>
                        <td class="d-flex gap-2">
                            <a href='/clients/options/{{product.id}}' class='btn btn-primary'>Add to Cart</a>
                            <a href='/clients/details/{{product.id}}' class='btn btn-primary disabled'>View Details</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            <div class="d-flex">
                <a href="/logout" class="btn btn-secondary disabled">View Cart</a>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    </body>
</html>