<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href={{ url_for( 'static', filename='index.css' ) }}>
    </head>
    <body>
        <div class="container p-5 d-flex justify-content-around align-content-center">
            <div class="container">
                <div class="d-flex">
                    <a href="/logout" class="btn btn-secondary">Dashboard</a>
                </div>
                <h1>Welcome, {{session['first_name']}}</h1>

                <form action="/employee/add_client" method="post" class="form-horizontal">

                    <!-- This is a for loop that is iterating through the list of messages that are in the category
                    'client_added'. -->
                    {% for message in get_flashed_messages(category_filter = ['client_added']) %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% endfor %}

                    <label for="first_name">First Name</label>
                    <input type="text" name="first_name">
                    <label for="last_name">Last Name</label>
                    <input type="text" name="last_name">
                    <label for="email">Email</label>
                    <input type="text" name="email">
                    <label for="email_confirmation">Re-type Email</label>
                    <input type="text" name="email_confirmation">

                    <!-- This is a for loop that is iterating through the list of messages that are in the category
                                        'new_client'. -->
                    {% for message in get_flashed_messages(category_filter = ['new_client']) %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                    
                    {% endfor %}

                    <button type="submit" class="btn btn-primary">Register Client</button>
                </form>
            </div>
            <div class="container">
                <h3>Current Clients</h3>
                <ul>
                <!-- This is a for loop that is iterating through the list of clients that are in the list_of_clients
                variable. -->
                {% for client in list_of_clients: %}
                    <li>{{client.first_name}} {{client.last_name}}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    </body>
</html>